/* Tiny reset thingy */

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: rgb(255 255 255);
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(218, 136, 218);
  text-align: center;
  font-size: 4em;
  font-weight: lighter;
  text-shadow: 5px 5px 10px lightskyblue;
  width: 5em;
  margin: 0 auto;
}

h1:hover {
  color: lightskyblue;
  text-shadow: 5px 5px 10px rgb(218, 136, 218);
  cursor: pointer;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../images/img1.jpeg");
  min-height: 700px;
  background-size: 100%;
}

.pimg2 {
  background-image: url("../images/FullSizeRender-1.jpeg");
  background-size: 60%;
  min-height: 600px;
}

.pimg3 {
  background-image: url("../images/IMG_2233.jpg");
  background-size: 40%;
  min-height: 600px;
}

.pimg4 {
  background-image: url("../images/FullSizeRender.jpeg");
  background-size: 80%;
  min-height: 600px;
}
