/* Tiny reset thingy */

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: rgb(246 246 246);
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(243 182 186);
  text-align: center;
  font-size: 4em;
  font-weight: lighter;
  text-shadow: 5px 5px 10px black;
  width: 5em;
  margin: 3% auto;
  font-family: "Pacifico", cursive;
}

h1:hover {
  color: lightskyblue;
  text-shadow: 5px 5px 10px rgb(218, 136, 218);
  cursor: pointer;
}

.section-light {
  height: 60%;
}

h2 {
  text-align: center;
  font-size: 2em;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("images/i1.jpeg");
  min-height: 110vh;
  background-size: 40%;
  background-position: center bottom;
}

.pimg2 {
  background-image: url("images/i2.jpeg");
  background-size: 40%;
  min-height: 110vh;
  background-color: rgb(255 253 254);
  background-position: 75% 50%;
}

.pimg3 {
  background-image: url("images/i3.jpeg");
  background-size: 50%;
  background-position: 20% 50%;
  min-height: 110vh;
}

.pimg4 {
  background-image: url("images/i4.jpeg");
  background-size: 40%;
  min-height: 110vh;
}
